@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar-hide::-webkit-scrollbar {
    display: none;

}
.sidebar-calendar {
    margin-top: 50px;
}
.react-calendar__navigation {
    background-color: #005248;
    color: #fff;
    text-align: center;
}
.react-calendar__navigation__label {
    padding: 5px 20px;
    height: 50px;
    width: 170px
}
.react-calendar__navigation__label:hover {
    color: #fff;
}
.react-calendar__month-view__weekdays {
    border: 2px solid #94a3b8;
    text-align: center;
    padding: 8px;
}
.react-calendar__month-view__weekdays__weekday>abbr {
    text-decoration: none;
}
.react-calendar__month-view__days {
    border: 2px solid #94a3b8;
    border-top: none;
}
.react-calendar__navigation__arrow:hover {
    color: #fff;
}
.react-calendar__navigation__arrow {
    padding: 0 25px;
}
.current-date {
    background-color: #005248;

    color: white;

}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    display: none;
}
.react-calendar__month-view__days__day {
    padding: 8px;
}

.head-shap{
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
}